* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway";
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container__img--header img {
  max-width: 500px;
  max-height: 90px;
  object-fit: contain;
}

.container__img--header {
  display: flex;
  align-items: center;
}

.header__container .lista__navigator {
  display: flex;
  gap: 10px;
  height: 100px;
  align-items: center;
}

.classNav button {
  display: none;
}

.lista__navigator li {
  list-style-type: none;
  gap: 10px;
  font: caption;
  font-weight: 500;

  a {
    text-decoration: none;
    color: #313335;
  }
}

.lista__navigator li:hover {
  transform: scale(1.05);
  transition: all 100ms ease-in-out;
  text-decoration: underline;
}

.main__section--container {
  display: flex;
  max-width: 65vw;
  margin: 0 auto;
}

.sobre__container--principal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 360px;
}

.sobre__container--principal .list__contacts {
  display: flex;
  margin: 15px 0;
  list-style-type: none;
  gap: 10px;

  span {
    width: 20px;
  }
}
.sobre__container--left h1 {
  margin-bottom: 15px;
}

.list__contacts a {
  text-decoration: none;
  color: #313335;
}

.list__contacts a:hover {
  transform: scale(1.05);
  text-decoration: underline;
}

.list__contacts li {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sobre__container--principal .sobre__container--right img {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.363);
}

.about__section--container {
  background-color: #eaf2fd;
}

.about__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 380px;
  max-width: 65vw;
  justify-content: center;

  h2 {
    max-width: fit-content;
    margin-bottom: 30px;
  }
}

.about__container .textos {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  gap: 20px;
}

.about__container .textos p {
  font-size: 1.3rem;
}

.skills__section {
  display: flex;
  flex-direction: column;
  max-width: 65vw;
  margin: 0 auto;
  padding: 25px 0;
  gap: 15px;
}

.boxes__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 170px);
  gap: 20px;
  justify-content: center;
}

.box__item {
  display: flex;
  width: 170px;
  height: 170px;
  background-color: #eaf2fd;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
  font-weight: 500;
  img {
    object-fit: contain;
    max-width: 26px;
    max-height: 24px;
  }
}

.academic__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  width: 100%;
  height: 500px;
  background-color: #eaf2fd;
  text-align: center;
}
.academic__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.academic__itens {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 380px;
  height: 280px;
  background-color: #ffffff;
  gap: 20px;
  border-radius: 10px;

  p {
    font-weight: 500;
  }
}

.academic__itens img {
  width: 200px;
}

.portifolio__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;

  h2 {
    margin: 20px 0;
  }
}

.projeto__item {
  display: flex;
  justify-content: center;
  padding: 25px;
  gap: 10px;
  p {
    font-weight: 500;
    width: 550px;
    text-wrap: wrap;
    text-align: start;
  }

  img {
    border: 1px solid rgba(0, 0, 0, 0.205);
    width: 600px;
  }
}

.projeto__item-reverse {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 25px;
  gap: 10px;
  background-color: #eaf2fd;

  p {
    font-weight: 500;
    width: 550px;
    text-wrap: wrap;
    text-align: start;
  }

  img {
    border: 1px solid rgba(0, 0, 0, 0.205);
    width: 600px;
  }

  .button_container button {
    background-color: #ffffff;
  }
}

.text__item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 30%;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.button_container button {
  padding: 10px;
  border: none;
  box-shadow: 7px 7px 6px -7px;
  background-color: #eaf2fd;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
}

.button_container button:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}

.contatos__section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 700px;
  background-color: #eaf2fd;
}

.contato__imagem img {
  width: 450px;
}

.formulario__content {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 10px;

  input {
    margin-bottom: 3px;
  }

  label {
    margin-bottom: 5px;
  }

  button {
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: none;
    border: 1px solid black;
    padding: 5px;
  }
}

.footer__container {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media (max-width: 375px) {
  .header__container {
    width: 100%;
  }

  .sobre__container--principal img {
    display: none;
  }

  .classNav {
    display: flex;
    position: relative;
  }

  .classNav button {
    display: block;
  }

  .lista__navigator li {
    display: none;
  }

  .lista__navigator.active li {
    display: block;
  }

  .lista__navigator.active {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul {
    display: none;
  }

  .main__section--container {
    width: 100vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sobre__container--right {
    display: none;
  }

  .about__section--container {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .about__container {
    max-width: 375px;
    margin: 0;
  }

  .about__container .textos {
    width: 300px;
    p {
      font-size: 14px;
    }
  }

  .boxes__container {
    grid-template-columns: repeat(auto-fit, 110px);
  }

  .box__item {
    width: 110px;
    height: 100px;
  }

  .academic__container {
    display: flex;
    gap: 2%;
    height: 300px;
    padding: 10px;
  }

  .academic__itens {
    width: 150px;
    height: 150px;
    font-size: 12px;

    img {
      width: 80px;
    }
  }

  .projeto__item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    p {
      max-width: fit-content;
      font-size: 12px;
    }
    img {
      width: 300px;
    }
  }
  .projeto__item-reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    p {
      max-width: fit-content;
      font-size: 12px;
    }
    img {
      width: 300px;
    }
  }

  .contatos__section {
    height: 500px;
  }

  .contatos__section form {
    max-width: 370px;
  }

  .contato__imagem {
    display: none;
  }
  .contatos__section #contactForm {
    margin: 0;
  }
}
